# Convex Deployment URL for Store Project (Fallback when not provided via URL parameter ?convexUrl=)
NEXT_PUBLIC_CONVEX_URL=https://your-store-deployment.convex.cloud
# Default App Frontend URL
NEXT_PUBLIC_DEFAULT_APP_URL=http://localhost:3000

# DEFX Convex Deployment
CONVEX_DEPLOYMENT=dev:betting-ladybug-825

# Convex Cloud URL
NEXT_PUBLIC_CONVEX_URL=https://betting-ladybug-825.convex.cloud

# Convex Site URL
NEXT_PUBLIC_CONVEX_SITE_URL=https://betting-ladybug-825.convex.site
CLERK_JWT_ISSUER_DOMAIN=https://your-default-clerk-domain.clerk.accounts.dev


